#GameCanvas {

position: absolute;

}

#GameBackground {
	
position: absolute;
	
}

#GameContainer {
	
position: absolute;
left: 0px;
top: 0px;
	
}

#djsona {
	
position: absolute;
top: 530px;
left: 8px;
width: 30px;
height: 30px;
	
}