@font-face {

font-family: myFont;
src: url(Assets/trebuchet_ms.ttf);

}

@font-face {

font-family: comicFont;
src: url(Assets/fightingspirit.ttf);

}

@font-face {

font-family: action;
src: url(Assets/action.ttf);

}

@font-face {

font-family: lifecraft;
src: url(Assets/lifecraft.ttf);

}

body {
	
font-family: comicFont;
src: url(Assets/fightingspirit.ttf);
	
}

@font-face {
	
font-family: action;
src: url(Assets/action.ttf);
	
}

@font-face {
	
font-family: lifecraft;
src: url(Assets/lifecraft.ttf);
	
}

body {

background-image: url('Assets/clientbackground.jpg');

}

#GameCanvas {

position: absolute;

}

#GameBackground {

position: absolute;

}

#GameContainer {

position: absolute;
width: 1000px;
height: 562px;
left: 0px;
right: 0px;
margin-left: auto;
margin-right: auto;
top: 150px;
-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
display: none;

}

#djsona {

position: absolute;
top: 530px;
left: 8px;
width: 30px;
height: 30px;

}

#navigation {

position: absolute;
left: 0px;
right: 0px;
top: 50px;
margin-left: auto;
margin-right: auto;
width: 1000px;
height: 50px;

}

.button {

position: relative;
width: 130px;
height: 50px;
background-color: #282828;
color: white;
margin-right: 50px;
-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
border-radius: 5px;
text-align: center;
line-height: 50px;
font-family: myFont;
font-size: 22px;
float: left;

}

.button:hover {

cursor: pointer;
height: 55px;
top: -2.5px;
line-height: 55px;

}

.container {

position: absolute;
width: 1000px;
height: 562px;
left: 0px;
right: 0px;
margin-left: auto;
margin-right: auto;
top: 150px;
-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);

}

#QueueContainer {

background-image: url('PageAssets/queuebackground.jpg');
z-index: 2;

}

.noselect {

-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none;   /* Chrome/Safari/Opera */
-khtml-user-select: none;    /* Konqueror */
-moz-user-select: none;      /* Firefox */
-ms-user-select: none;       /* IE/Edge */
user-select: none;           /* non-prefixed version, currently
							  not supported by any browser */
}


#playbutton {

position: absolute;
top: 50px;
left: 0px;
right: 0px;
margin-left: auto;
margin-right: auto;
width: 200px;
height: 50px;
background-color: #236167;
text-align: center;
font-family: myFont;
line-height: 50px;
font-size: 22px;
color: white;
-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);

}

#playbutton:hover {

cursor: pointer;
opacity: .8;

}

#playbutton:active {

-webkit-box-shadow: inset 0px 0px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 11px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 11px 0px rgba(0,0,0,0.75);

}

#matchtimer {

position: absolute;
width: 100%;
text-align: center;
top: 120px;
color: rgba(150, 193, 241, 0.9);

font-family: myFont;
font-size: 20px;
display: none;

}

#loadingbar {

position: absolute;
top: 150px;
left: 0px;
right: 0px;
margin-left: auto;
margin-right: auto;
width: 0px;
height: 20px;
background-color: rgba(114, 113, 231, 0.6);
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
border-radius: 15px;

}

/* CHAT BOX CSS */
.chat-box {
    position: absolute;
    left: 120px;
    bottom: -1;
    font-family: myFont, serif;
    width: 300px;
}

.chat-box.chat-open .message-container {
    display: none;
}

.chat-box .message-container {
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    max-width: 100%;
}

.chat-box .message-container::-webkit-scrollbar {
    width: 12px;
}

.chat-box .message-container::-webkit-scrollbar-track {
    background-color: #2d3236;
}

.chat-box .message-container::-webkit-scrollbar-thumb {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bbbbbb+0,919191+21,919191+70,87868b+100 */
    background: #bbbbbb; /* Old browsers */
    background: -moz-linear-gradient(top,  #bbbbbb 0%, #919191 21%, #919191 70%, #87868b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #bbbbbb 0%,#919191 21%,#919191 70%,#87868b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #bbbbbb 0%,#919191 21%,#919191 70%,#87868b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#87868b',GradientType=0 ); /* IE6-9 */

}

.chat-box .message-container .message {
    color: white;
    font-size: .7em;
}

.chat-box footer {
    position: relative;
    padding:5px;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    line-height: 20px;
    color: white;
    cursor: pointer;
    max-width: 100%;
}

.chat-box footer::after {
    content: '';
    position: absolute;
    right: 10px;
    line-height: 30px;
    font-weight: 100;
}

.chat-box.chat-open footer::after {
    content: '^';
}