@import 'variables';

body {
  font-family: comicFont;
  src: url(Assets/fightingspirit.ttf);
  background-color: $backgroundColor;
  /*background-image: url('Assets/clientbackground.jpg');*/
}

#GameCanvas, #GameBackground {
  position: absolute;
}

#GameContainer {
  position: absolute;
  width: 1000px;
  height: 562px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  display: none;
}

#djsona {
  position: absolute;
  top: 530px;
  left: 8px;
  width: 30px;
  height: 30px;
}

#navigation {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 65px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 50px;
}

.button {
  position: relative;
  width: 130px;
  height: 50px;
  background-color: #1a2327;
  color: $primaryTextColor;
  font-size: $fontSize;
  margin-right: 50px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  font-family: myFont;
  text-shadow: 0 -1px 0 #888;
  float: left;
  &:hover {
    cursor: pointer;
    height: 55px;
    top: -2.5px;
    line-height: 55px;
  }
}

.container {
  position: absolute;
  width: 1000px;
  height: 562px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
}

#QueueContainer {
  background-color: $backgroundColorDarker;
  /*background-image: url('PageAssets/queuebackground.jpg');*/
  z-index: 2;
}

#messagebox {
  position: absolute;
  width: 250px;
  height: 70px;
  left: 720px;
  top: -10px;
  border-style: solid;
  border-color: $primaryColor;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: $backgroundColorDarker;
}

#messagecontainer {
  color: $secondaryTextColor;
  position: absolute;
  width: 230px;
  height: 50px;
  top: 10px;
  left: 10px;
  font-family: myFont;
  font-size: 12px;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently
   not supported by any browser */
}

#username {
  position: relative;
  height: 100%;
  display: inline-block;
  line-height: 45px;
  margin-right: 10px;
  color: $primaryColor;
  text-shadow: 0 -1px 0 black;
}

#level {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 45px;
  right: 550px;
}

#leveltext {
  position: absolute;
  left: 205px;
  top: 7px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  color: $primaryColor;
  text-shadow: 0 -1px 0 black;
}

#levelprogressbackground {
  position: absolute;
  top: 18px;
  width: 200px;
  height: 10px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: $backgroundColor;
}

#levelprogress {
  position: absolute;
  top: 18px;
  width: 80px;
  height: 10px;
  left: 0px;
  background-color: $primaryColor;
  -webkit-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
-moz-box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
box-shadow: inset 0px 0px 1px 0px rgba(255,255,255,1);
}

#influencepoints {
  display: inline-block;
  position: absolute;
  right: 0px;
  width: 120px;
  height: 45px;
}

#ipicon {
  position: absolute;
  top: 10px;
  left: 0px;
}

#ippointstext {
  position: absolute;
  top: 12px;
  left: 30px;
  color: $primaryColor;
  text-shadow: 0 -1px 0 black;
}

#playbutton {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background-color: $primaryColor;
  text-align: center;
  font-family: myFont;
  line-height: 50px;
  font-size: $fontSize;
  color: $primaryTextColor;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  &:hover {
    cursor: pointer;
    opacity: .8;
  }
  &:active {
    -webkit-box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  }
}

#matchtimer {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 120px;
  color: rgba(150, 193, 241, 0.9);
  font-family: myFont;
  font-size: 20px;
  display: none;
}

#loadingbar {
  position: absolute;
  top: 150px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 0px;
  height: 20px;
  background-color: rgba(114, 113, 231, 0.6);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  max-width: 200px;
}

#banner {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 45px;
  width: 100%;
  background-color: $backgroundColorDarker;
}

#innerbanner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 45px;
}

#getip {
  position: absolute;
  right: 140px;
}

#getdaily {
  position: absolute;
  right: 300px;
  width: 150px;
}

.bannerbutton {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 100%;
  background-color: $backgroundColorDarker;
  color: $primaryTextColor;
  font-size: $fontSize;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  line-height: 45px;
  font-family: myFont;
  background-color: $primaryColor;
  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}

#aff {
  position: absolute;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  top: 750px;
  width: 985px;
  height: 250px;
}

.amazon {
  display: inline-block;
  position: relative;
  margin-left: 15px;
}

#googlebanner {
  position: absolute;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  top: 1000px;
  width: 985px;
  height: 150px;
}

#WelcomeContainer {
  position: absolute;
  width: 1000px;
  height: 562px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  background-color: $backgroundColorDarker;
  display: block; }

  patch-notes {
    position: absolute;
    width: 450px;
    left: 80px;
    top: 25px;
    height: 100px;
    border: solid 5px $primaryColor;
    border-radius: 50px;
    background-color: $backgroundColor;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }

  #tutorial {
    position: absolute;
    left: 125px;
    top: 120px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }

/* CHAT BOX CSS */

.chat-box {
  position: absolute;
  left: 120px;
  bottom: -1;
  font-family: myFont, serif;
  width: 300px;
  &.chat-open .message-container {
    display: none;
  }
  .message-container {
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    max-width: 100%;
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-track {
      background-color: #2d3236;
    }
    &::-webkit-scrollbar-thumb {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bbbbbb+0,919191+21,919191+70,87868b+100 */
      background: #bbbbbb;
      /* Old browsers */
      background: -moz-linear-gradient(top, #bbbbbb 0%, #919191 21%, #919191 70%, #87868b 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #bbbbbb 0%, #919191 21%, #919191 70%, #87868b 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #bbbbbb 0%, #919191 21%, #919191 70%, #87868b 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#87868b',GradientType=0 );
      /* IE6-9 */
    }
    .message {
      color: $primaryTextColor;
      font-size: .8em;
    }
  }
  footer {
    position: relative;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 20px;
    color: $primaryTextColor;
    cursor: pointer;
    max-width: 100%;
    &::after {
      content: '';
      position: absolute;
      right: 10px;
      line-height: 30px;
      font-weight: 100;
    }
  }
  &.chat-open footer::after {
    content: '^';
  }
}

/* Util */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: row;
}

.flex-row {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

google-pane {
  position: absolute;
  top: 200px;
  left: 600px;
  width: 300px;
  height: 250px;
  background-image: url("Assets/adblock.png");
}

google-pane2 {
  position: absolute;
  top: 60px;
  left: 600px;
  width: 300px;
  height: 250px;
  background-image: url("Assets/adblock.png");
}

#vegas {
  position: absolute;
  display: none;
  left: 670px;
  top: 20px;
}

#googlebanner {
  position: absolute;
  left: 250px;
}

#arrow-right {
  position: absolute;
  top: 265px;
  left: 885px;
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  
  border-left: 60px solid rgba(48, 219, 80, 0.2);
}

#arrow-left {
  position: absolute;
  display: none;
  top: 265px;
  left: 55px;
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent; 
  
  border-right:60px solid rgba(48, 219, 80, 0.2);; 
}

#arrow-left:hover {
  border-right: 60px solid rgba(48, 219, 80, 0.5);
  cursor: pointer;
}

#arrow-right:hover {
  border-left: 60px solid rgba(48, 219, 80, 0.5);
  cursor: pointer;
}

proceed-button {
  position: absolute;
  top: 30px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background-color: $primaryColor;
  text-align: center;
  font-family: myFont;
  line-height: 50px;
  font-size: $fontSize;
  color: $primaryTextColor;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  &:hover {
    cursor: pointer;
    opacity: .8;
  }
  &:active {
    -webkit-box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
  }
}