@font-face {
  font-family: myFont;
  src: url(Assets/trebuchet_ms.ttf);
}


@font-face {
  font-family: comicFont;
  src: url(Assets/fightingspirit.ttf);
}


@font-face {
  font-family: action;
  src: url(Assets/action.ttf);
}


@font-face {
  font-family: lifecraft;
  src: url(Assets/lifecraft.ttf);
}


@font-face {
  font-family: action;
  src: url(Assets/action.ttf);
}


@font-face {
  font-family: lifecraft;
  src: url(Assets/lifecraft.ttf);
}
